<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mine.mapper.ArticleMapper">
    <select id="list" resultType="com.mine.entity.Article">
        select * from article
        <where>
            <if test="title!=null">
                title like concat('%', #{title}, '%')
            </if>
            <if test="categoryId!=null">
                and category_id = #{categoryId}
            </if>

            and create_user=#{userId}
        </where>
    </select>
    <update id="update">
        update article
        <set>
            <if test="title != null">
                title=#{title},
            </if>
            <if test="coverImg != null">
                cover_img=#{coverImg},
            </if>
            <if test="content != null">
                content=#{content},
            </if>
            <if test="categoryId != null">
                category_id=#{categoryId},
            </if>
            <if test="state != null">
                state=#{state},
            </if>
            <if test="updateTime != null">
                update_time=#{updateTime},
            </if>
        </set>
         where id=#{id}
    </update>
    <select id="AllList" resultType="com.mine.entity.Article">
        select * from article
        <where>
            <if test="title!=null">
                title like concat('%', #{title}, '%')
            </if>
            <if test="categoryId!=null">
                and category_id = #{categoryId}
            </if>

            and state="发布"
        </where>
    </select>

</mapper>
